<!DOCTYPE html>
<html>
  <head>
    <title>App de la team BDX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>

  </head>

  <body>


      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="https://images.france.fr/zeaejvyq9bhj/2FdBtlBsnYk0EKeMugGswG/83861bcdb71b8bb08ef038a1d6bdff40/Bordeaux_1120x490.jpg?w=1120&h=491&q=90&fl=progressive&fit=fill" target="blank">Team BDX</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%= root_path%>">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= contact_path%>">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= about_path%>">About</a>
            </li>
          </ul>
        </div>
      </nav>

    <p style="margin-top: 50px"> </p>

    <%= yield %>

  </body>
</html>
